# Node modules (librerias)
frontend/node_modules/

# Entorno virtual de Python (librerias)
backend/venv/

# Archivos de caché de Python
__pycache__/
*.pyc

# Archivos de entorno
.env

# Archivos de log y temporales
*.log
*.tmp

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Configuración de editores
.vscode/

# Archivos de builds
dist/
build/

